.todo-wrapper{
    display: flex;
    flex-direction: column;
    height: 99vh;
    width: 100%;
}

.input-wrapper{
    margin-top: 40px;
}

.todo-item-list-left, .todo-item-list-right {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.todo-item{
    margin: 10px 0;
}

.line-through{
    text-decoration: line-through;
}

.todo-input{
}

.status-input{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
    accent-color: #007bff; 
    border-radius: 50%;
}

.circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #007bff;
    display: inline-block;
    margin-right: 10px;
}

.input-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    border: none;
}

.todo-input{
    width: 280px;
    height: 30px;
    padding: 10px 20px;
    border-radius: 40px;
    outline: none;
    border: none;
}

.item-heading{
    text-align: center;
}

input::placeholder{
    color: white;
}

.add-btn{
    position: relative;
    margin-left: -60px;
    padding: 13px 30px;
    border-radius: 40px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 16px;
}

.edited-btn{
    background-color: green;
    outline: none;
    border: none;
    margin-left: 10px;
}

.delete-btn{
    background-color: red;
    outline: none;
    border: none;
    margin-left: 10px;
}

.status-btn{
    background-color: rgb(23, 34, 194);
    outline: none;
    border: none;
    margin-left: 10px;
}

.list-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    border: 1px solid white;
}

.list-heading{
    display: flex;
    flex-direction: row;
}

.heading-left{
    margin-right: 20px;
    text-align: center;
}

.heading-right{
    text-align: center;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    text-align: center;
}

.right-heading{
    

}

.left-heading{
  
}

.todo-item-title{
    width: 100px;
}

.item-title{
    text-align: left;
    padding: 2px;
   
}

.btn-group-wrapper{
    display: flex;
    justify-content: space-between;
}

.li-item{
    display: flex;
}
